*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

.loading-screen{
    position: sticky;
}

.loading{
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 1;
    background: #000000;
    border: 2px solid white;
    z-index: 1000;
}

h5, .logo-loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1001;
}

.logo-loading{
    width: 250px;
}

h5{
    font-family: 'Poppins', sans-serif;
    transform: translateY(175px);
}


br {
    user-select: none;
}

::selection{
    color: #151515;
    background-color: #a085be;
}

::-webkit-scrollbar{
    width: 10px;
}


::-webkit-scrollbar-thumb{
    background: #3d3d3d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #464646;
}



@font-face {
    font-family: Milker;
    src: url(Fonts/MILKER.TTF) format(truetype);
}

@font-face {
    font-family: Rosewind;
    src: url(Fonts/ROSEWIND-REGULAR.TTF) format(truetype);
}

@font-face {
    font-family: Adam;
    src: url(Fonts/Adam-Medium.ttf) format(truetype);
}

@font-face {
    font-family: Poppins;
    src: url(Fonts/POPPINS-LIGHT.TTF) format(truetype);
}

.header  {
    position: sticky;
    top: 0;
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 0px 25px;
    transition: 0.3s;
    z-index: 25;
    opacity: 0;
}

.loading-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.fond{
    box-shadow: rgb(0, 0, 0) 0 0 700px inset;
}

.logo a {
    position: block;
}

.logo a img{
    display: block;
    width: 75px;
    transition: 0.5s cubic-bezier(.42,1.95,.41,.31) ;

}

.logo a img:hover{
    filter: drop-shadow(rgb(255, 255, 255, 0.75) 0 0 6px);
}



.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
    gap: 25px;
    justify-content: center;
}

.menu a{
    color: #fff;
    text-decoration: none;
    display: block;
    margin-right: 40px;
    font-size: 18px;
    font-family: Adam, sans-serif;
    text-transform: uppercase;
    position: relative;
}


.head::before{
    content: '';
    width: 0%;
    height: 2%;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #fff;
    transition: .75s;
}
.head::after{
    content: '';
    width: 0%;
    height: 2%;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    transition: .75s;
}

.active::before{
    content: '';
    width: 0%;
    height: 2%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    transition: .75s;
}
.active::after{
    content: '';
    width: 0%;
    height: 2%;
    position: absolute;
    top: 100%;
    right: 0px;
    background-color: #ffffff;
    transition: .75s;
}

.active::after, .active::before , .head:hover:before , .menu a:hover::after{width: 100%;}

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger::before, .hamburger::after{
    content: '';
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger::before{
    top: -10px;
    width: 100%;
}

.hamburger::after{
    top: 10px;
    width: 100%;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger, .toggle-menu{
    display: none;
}

.navigation{
    width: 554px;
}

.navigation input:checked ~ .hamburger{
    background: transparent;
}
.navigation input:checked ~ .hamburger:before{
    top:0;
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~ .hamburger:after{
    top:0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked ~.menu {
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}


.baracceuil {
    background-color: #ffffff;
    width: 75%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    border: 2px solid white;
    transform: translate(-50%, 0%);
    border-radius: 50px;
}

h1 {
    font-family: 'Milker', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    display:block;
    text-align:center;
    text-wrap:nowrap ;
    color: white;
    text-shadow: #ffffffaf 0px 0 20px ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.talent1 {
    color: #ffffff;
    background-color: #a085be;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 60px;
}

.talent2 {
    color: #ffffff;
    background-color: #a085be;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 60px;
}

.talent3 {
    color: #ffffff;
    background-color: #a085be;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 60px;
}

.mestalents {
    display: grid;
    align-items: center;
    gap: 140px;
    font-family: 'Rosewind';
}

.cv {
    font-family: 'Rosewind', sans-serif;
    position: relative;
    right: 0px;
    top: 0;
    color: #ffffff;
    background-color: #a085be;
    width: 301px;
    height: 60px;
    transition: .25s;
    border: none;
    cursor: pointer;
}

.cv:hover {
    background-color: #c9b2e2;
    color: #3a3a3a;
    transform: scale(98%);
}

.cv:active {
    filter: brightness(105%);
}

p {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: oblique;
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    z-index: 10;
    margin-right: 100px;
}

img {
    user-select: none;
}

.moi {
    position: static;
    z-index: -10;
    filter: drop-shadow(0 0 50px #a085be);
    animation: flotter 5s ease-in-out infinite;
}

@keyframes flotter {
    0% {
        transform: translateY(0); /* Pas de déplacement vertical */
    }
    50% {
        transform: translateY(-10px); /* Déplacement vers le haut */
    }
    100% {
        transform: translateY(0); /* Retour à la position initiale */
    }
}

.navbar {
    display: inline-block;
    justify-content: space-evenly;
}

.nav{
    background-color: transparent;
    height: 80px;
    margin: 0%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2.5);
    backdrop-filter: blur(10px);
}

.navstart{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    font-size: 32px;
    font-family: Milker, sans-serif;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 150px;
}

.hover a{
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
}

.hover a:hover{
text-shadow: #ffffff 0 0 25px;
font-size: 34px;
}

section {
    height: 100vh;
    width: 100%;
    border: 0px solid #ffffff;
    color: #ffffff;
    scroll-snap-align: start;
    scroll-behavior:smooth ;
}

#contact, #projets {
    width: 100%;
    height: 100vh;
    border: 0px solid #ffffff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    font-family: 'Rosewind', sans-serif;
}

#apropos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fond {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    position:absolute;
    overflow: hidden;
    pointer-events: none;
}

.deco {
position: absolute;
scale: 0.7;
}

.bg {
mix-blend-mode:color-burn;
filter: blur(15px) contrast(1) brightness(1.55) opacity(100%);
width: 100%;
height: 100vh;
}
.main_bg {
background-color: #a085be;
position: block;
width: 100%;
height: 100vh;
z-index: -50;
}
.vignette{
    width: 100%;
      height: 100%;
      background-color: transparent;
      border-radius: 10px;
      padding: 20px;
      box-sizing: border-box;
      position: absolute;
}
.vignette::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent 45%, rgba(0,0,0,7) 100%);
    border-radius: 10px;
  }

.barcut{
    position: absolute;
    background: linear-gradient(0.50turn, #00000000 0%, #151515 70%, #151515 95%, #00000000 100%);
    width: 100%;
    height: 200px;
    transform: translateY(-189px);
    z-index: 900;
}

#menu {
background-color: rgba(0, 0, 0, 0.336);
border-bottom: 1px solid white;
display: flex;
justify-content: space-evenly;
align-items: center;
height: 75px;
backdrop-filter: blur(5px);
}


body {
    background-color: #151515;
}

.imgcontainer {
    position: absolute;
    width: 35%;
    display: grid;
    cursor: pointer;
    overflow: hidden;
}

.projet_1 {
    display: block;
    width: 100%;
    height: auto;
    transition: 1s cubic-bezier(.52,.88,.78,.93);
    transition-delay: 0.1s;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .75s ease;
    background-color: #0000005d;
  }

  .imgcontainer:hover .overlay {
    opacity: 1;
  }

  .imgcontainer:hover .text {
    font-size: 125%;
  }

  .imgcontainer:hover .projet_1 {
    filter: blur(5px);
    scale: 115%;
  }

.text {
    color: white;
    width: 100%;
    font-size: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Poppins, sans-serif;
    transition: 1s cubic-bezier(.36,1.5,.72,.88);
    transition-delay: 250ms;
}


.container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h4{
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.contact-inputs{
    width: 600px;
    height: 45px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 15px;
    font-family: Poppins, sans-serif;
    background-color: #3a3a3a;
    transition: .5s;
    color: #ffffff;
}

.contact-left textarea{
    height: 200px;
    width: 750px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #a085be;
    box-shadow: #a085be 0 0 5px;
}

.contact-inputs::placeholder{
    color: #ffffff;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ffffff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #a085be, #bc6dbe, #be6d96);
    cursor:pointer;
    transition: 0.2s;
}

#contact{
    scale: 100%;
}

.contact-left button:hover {
    scale: 98%;
    filter: brightness(115%) contrast(75%) hue-rotate(10deg);
}

.contact-left button:active {
    scale: 98%;
    filter: brightness(115%) contrast(75%) hue-rotate(-10deg);
}

.propos {
    display: flex;
    padding: 10%;
    align-items: center;
    justify-content: center;
}

.coucou {
    display: grid;
    gap: 10%;
    align-content: center;
}

h6 {
    position: absolute;
    transform: translate(0%, 400px);
    font-size: 14px;
    font-family: Adam, sans-serif;
    text-transform: uppercase;
}

section#acceuil {
    position: relative;
    top: 0;
    right: 0;
    z-index: 500;
}


@media only screen and (width: 2560px)
{
.baracceuil{
    width: 50%;
}

#contact {
    scale: 150%;
}
}
/*Téléphone*/

@media only screen and (max-width: 600px)
{

    *{
        scroll-snap-type: none;
    }

    .bg{
        height: 100vh;
    }

    .hamburger, .toggle-menu{
        display: block;
    }

    header {
        position:fixed;
        z-index: 50;
    }
    
    body{
        overflow-x: hidden;
    }

    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        background: #000000;
        width: 100%;
        height: 100vh;
        padding-top: 60px;
        opacity: 0%;
        transition: 0.5s;
        pointer-events: none;
    }

    .navigation input:checked ~ .menu {
        opacity: 100%;
        pointer-events: auto;
    }


    .menu li {
        width: 100%;
    }

    .menu li a {
        padding: 30px;
        font-size: 24px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    }

    .fond {
        object-fit:fill;
    }

    .deco{
        scale: 30%;
    }

    h1{
        font-size: 18px;
    }

    .navstart{
        font-size: 18px;
        gap: 25px;
    }

    .hover a{
        text-decoration: none;
        color: #ffffff;
        transition: .5s;
    }
    
    .hover a:hover{
    text-shadow: #ffffff 0 0 0px;
    font-size: 18px;
    }

    .baracceuil{
        width: 90%;
    }

    .moi{
        scale: 70%;
        position: relative;
        top: -80px;
    }

    #apropos{
        display: flex;
        position: relative;
        align-items: center;
        overflow: hidden;
    }

    .propos{
        display: grid;
        flex-direction: column;
        padding-top: 50%;
        justify-items: center;
        align-items: center;
    }

    .logo a {
        position: block;
    }
    
    .logo a img{
        display: block;
        width: 50px;
        transition: 0.5s cubic-bezier(.42,1.95,.41,.31) ;
    
    }

    .mestalents{
    display: flex;
    flex-direction: row;
    gap: 25px;
    scale: 60%;
    }

    p{
        font-size: 12px;
        text-align: center;
        justify-self: center;
        margin-right: 0;
        width: 60%;
    }

    .coucou {
        position: relative;
        top: 0%;
        transform: translateY(-50%);
        justify-items: center;
    }

    .cv{
        position: relative;
        right: 0%;
        scale: 80%;
    }

    .cv:hover{
        position: relative;
        right: 0%;
        scale: 78%;
    }

    .contact-left textarea{
        height: 200px;
        width: 100%;
        padding-top: 15px;
        border-radius: 20px;
    }

    .contact{
    scale: 100%;
    }

    .contact-left-title h4{
        font-weight: 600;
        color: rgb(255, 255, 255);
        font-size: 20px;
        letter-spacing: 3px;
        margin-bottom: 5px;
    }
    
    .contact-inputs{
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        padding-left: 25px;
        font-weight: 500;
        border-radius: 15px;
        font-family: Poppins, sans-serif;
        background-color: #3a3a3a;
        transition: .5s;
        color: #ffffff;
    }

    h6 {
        position: absolute;
        transform: translate(0%, 400px);
        font-size: 10px;
        font-family: Adam, sans-serif;
        text-transform: uppercase;
    }
    

    .imgcontainer {
        position: absolute;
        width: 75%;
        display: grid;
        cursor: pointer;
        overflow: hidden;
    }
}


@media only screen and (max-width: 320px)
{
    h1{
        font-size: 14px;
    }

    .deco {
        scale: 25%;
    }

    .navstart{
        font-size: 14px;
        gap: 25px;
    }

    .hover a{
        text-decoration: none;
        color: #ffffff;
        transition: .5s;
    }
    
    .hover a:hover{
    text-shadow: #ffffff 0 0 0px;
    font-size: 14px;
    }

    h6 {
        position: absolute;
        transform: translate(0%, 350px);
        font-size: 10px;
        font-family: Adam, sans-serif;
        text-transform: uppercase;
    }

    #apropos{
        scale: 90%;
    }

    .moi{
        scale: 55%;
    }
}

@media only screen and (width: 768px)
{
    h1{
        font-size: 30px;
    }

    .deco{
        scale: 60%;
    }

    .navstart{
        font-size: 25px;
        gap: 50px;
    }

    .hover a{
        text-decoration: none;
    }


    h6 {
        position: absolute;
        transform: translate(0%, 350px);
        font-size: 10px;
        font-family: Adam, sans-serif;
        text-transform: uppercase;
    }

    #apropos{
        scale: 90%;
    }

    .moi{
        scale: 55%;
    }

    *{
        scroll-snap-type: none;
    }

    .hamburger, .toggle-menu{
        display: block;
    }

    header {
        position:fixed;
        z-index: 900;
    }
    
    body{
        overflow-x: hidden;
    }

    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        background: #000000;
        width: 100%;
        height: 100vh;
        padding-top: 65px;
        opacity: 0%;
        transition: 0.5s;
        pointer-events: none;
    }

    .navigation input:checked ~ .menu {
        opacity: 100%;
        pointer-events: auto;
    }


    .menu li {
        width: 100%;
    }

    .menu li a {
        padding: 30px;
        font-size: 24px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    }

    .moi{
        scale: 100%;
    }

    #apropos{
        display: flex;
        position: relative;
        align-items: center;
        overflow: hidden;
    }

    .propos{
        display: grid;
        flex-direction: column;
        justify-items: center;
    }

    .logo a {
        position: block;
    }
    
    .logo a img{
        display: block;
        width: 60px;
        transition: 0.5s cubic-bezier(.42,1.95,.41,.31) ;
    
    }

    .mestalents{
    display: flex;
    flex-direction: row;
    gap: 50px;
    scale: 100%;
    }

    p{
        font-size: 16px;
        text-align: center;
        justify-self: center;
        margin-right: 0;
        width: 100%;
    }

    .coucou {
        position: relative;
        top: 0%;
        justify-items: center;
    }

    .cv{
        position: relative;
        right: 0%;
        scale: 100%;
    }

    .cv:hover{
        position: relative;
        right: 0%;
        scale: 98%;
    }

    .contact-left textarea{
        height: 200px;
        width: 600px;
        padding-top: 15px;
        border-radius: 20px;
    }


    .contact-left-title h4{
        font-weight: 600px;
        color: rgb(255, 255, 255);
        font-size: 30px;
        letter-spacing: 3px;
        margin-bottom: 5px;
    }
    
    .contact-inputs{
        width: 600px;
        height: 40px;
        border: none;
        outline: none;
        padding-left: 25px;
        font-weight: 500;
        border-radius: 15px;
        font-family: Poppins, sans-serif;
        background-color: #3a3a3a;
        transition: .5s;
        color: #ffffff;
    }

    h6 {
        position: absolute;
        transform: translate(0%, 400px);
        font-size: 14px;
        font-family: Adam, sans-serif;
        text-transform: uppercase;
    }
    

    .imgcontainer {
        position: absolute;
        width: 60%;
        display: grid;
        cursor: pointer;
        overflow: hidden;
    }
}